            <div id="step_03" class="content">
<!--                <div class="lang_div">Language -DROPDOWN-LANGUGES-   <input type="button" style=" font-size: 10px" value="-TXT-LOG-OUT-" onclick="_oci.main.user_logout();" data-oci-main-form="validate"/></div><br>
-->                <h1>-TXT-HEADER-</h1>
                <div class="line_margin">
                    <label for="emergency_name">-TXT-EMERGENCY-NAME-<span class="color_required">*</span></label>
                    <input id="emergency_name" type="text" name="emergency_name" value="_EMERGENCY_NAME_" data-oci-main-validate="required"/>
                </div>
                <div class="line_margin">
                    <label for="emergency_phone">-TXT-EMERGENCY-PHONE-<span class="color_required">*</span></label>
                    <input id="emergency_phone" type="tel" name="emergency_phone" value="_EMERGENCY_PHONE_" data-oci-main-validate="required"/>
                </div>
                <table class="line_margin field_row">
                    <tbody>
                        <tr>
                            <td class="description">-TXT-CANCER-SURVIVOR-1-<br/>-TXT-CANCER-SURVIVOR-2-</td>
                            <td class="field">
                                <input id="cancer_survivor" type="checkbox" name="cancer_survivor" data-oci-main-input-not-text/>
                            </td>
                            <td>
                                <label class="field_text" for="cancer_survivor">-TXT-CANCER-SURVIVOR-3-</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="line_margin field_row">
                    <tbody>
                        <tr>
                            <td class="description">-TXT-VEGETARIAN-MEAL-1-<br/>-TXT-VEGETARIAN-MEAL-2-</td>
                            <td class="field">
                                <input id="vegetarian_meal" type="checkbox" name="vegetarian_meal" data-oci-main-input-not-text/>
                            </td>
                            <td>
                                <label class="field_text" for="vegetarian_meal">-TXT-VEGETARIAN-MEAL-3-</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
